body{
    background-color: cadetblue;
}
h2{
    color: rgb(240, 237, 83);
    font-size: 30px;
}
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-size: 20px;
  }
  th {
    background-color: #f2f2f2;
    color: black;
  }
  td{
    color: rgb(209, 239, 55);
  }
  ul{
    color: rgb(209, 239, 55);
    font-size: 20px;
  }